<div class="indexBody" ng-controller="indexCtrl">
    <header class="indexHeader">
      <span class="indexTitle">Appointments</span>
      <div class="indexIconDiv"><i id="indexPlus" class="fa fa-plus"></i></div>
    </header>
    <div class="searchContainer">
      <input class="searchAppts" type="text">
      <i id="searchIcon" class="fa fa-search"></i>
    </div>
    <div class="apptThumbnail">
      <div class="appTimeWeather">
        <div class="appTime">
          21:00
        </div>
        <i id="weatherIcon" class="fa fa-cloud"></i>
      </div>
      <div class="apptTitleLoc">
        <div class="apptTitle">Meet w/Ash</div>
        <div class="apptLoc">@Raleigh, NC</div>
      </div>
    </div>
    <div class="dateLine">
      <div class="dateLineDate">Fri, March 5</div>
    </div>
</div>
