<div class="indexBody" ng-controller="indexCtrl">
    <header class="indexHeader">
      <span class="indexTitle">Appointments</span>
    <a class="newApptLink" href="#newAppt" alt="create a new appointment">
      <div class="indexIconDiv"><i id="indexPlus" class="fa fa-plus"></i></div>
    </a>
    </header>

    {{ thing }}

      <div class="searchContainer">
        <input class="searchAppts" type="text">
        <i id="searchIcon" class="fa fa-search"></i>
      </div>
      <a class="apptLink" href="#apptDetail.html" alt="see this appointment's details">
      <div class="appts">

        </div>
      </div>
      </a>
        <div class="dateLine">
          <div class="dateLineDate">Fri, March 5</div>
        </div>

</div>
