body{
  font-family: 'Open Sans', sans-serif;
}

header{
  font-size:4em;
  font-weight: 400;
  border:none red thin;
  padding-top:.75em;
  padding-bottom:.6em;
  position: fixed;
  left:.5em;
  text-align:center;
  width:94%;
  margin:0 auto;
  color:grey;
  border-bottom:solid lightgrey 4px;
  background-color: white;
}

header a {
  border:none red 5px;
  position: absolute;
  left:-.5em;
  top:0;
  padding-left:1em;
  padding-right:1.3em;
  padding-top:.75em;
  padding-bottom:.6em;
  text-decoration: none;
  color:grey;
}

header i{
}

header h1{
  display:inline-block;
  border:none green thin;
}

/*-----------------------------------------------CONTAINER*/

.container {
  font-size:3em;
  color:black;
  padding-top:6.5em;
  width: 76%;
  margin-left: 12%;
  /*border: solid 1px black;*/
}

.dateTime {
  font-size: 1.6em;
}

.date {
  color: grey;
}

.time {
  color: #55DBBA;
}

.city-state {
  font-style: italic;
  font-size: 1.6em;
  font-weight: lighter;
  color: grey;
  margin-top: 2em;
}

#mapIcon {
  float: right;
  color: #55DBBA;
}

.street {
  margin-top: .2em;
  font-size: .9em;
}

.mapPic {
  width: 100%;
  margin-top: 2em;
  text-align: center;
}

iframe {
  border: solid 4px lightgrey;
}

.forecast {
  margin-top: 2em;
  background-color: #f0f0f5;
  color: grey;
  line-height: 2.5;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2px;
}

.weatherDeets {
  display: inline-block;
  color: grey;
  padding-left: .6em;
  font-size: 1.5em;
}

.notes {
  margin-top: 2em;
  font-style: italic;
  margin-bottom: 5em;
}

/*styling for edit appointment button*/

footer{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  padding:1.2em 0;
  text-align: center;
  background-color: #55DBBA;
  color:white;
  font-size:3.5em;
}
