/*styling for Landing Page (index.html)*/

/*Styling for body*/

.indexBody {
  color: grey;
  font-size: 4em;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

/*styling for header*/

.indexHeader {
  position: relative;
  text-align: center;
  padding-top: .8em;
  padding-right: .4em;
  padding-left: .4em;
  padding-bottom: .4em;
  border-bottom: solid 1px grey;
}

.indexTitle {
  color: #55DBBA;
  font-weight: bolder;
  letter-spacing: 1px;
  display: inline-block;
}

.indexIconDiv {
  position: absolute;
  top: 55px;
  right: 20px;
  font-size: 1.2em;
}

/*Styling for link around add appointment icon in header*/

.newApptLink {
  text-decoration: none;
}

/*styling for appointment search bar*/

.searchAppts {
  font-size: 1.2em;
  width: 100%;
  border: solid 1px grey;
  border-radius: 1px;
  /*padding-left: 5px;*/
  color: grey;
}

/*styling for the containter around the search bar*/
.searchContainer {
  position: relative;
  margin-top: 40px;
  width: 94%;
  margin-left: 3%;
  margin-bottom: 140px;
}

/*styling for the icon in the search bar*/

#searchIcon {
  position: absolute;
  right: 10px;
  top: 16px;
}

/*Styling for the link containing the appt thumbnail*/

.apptLink {
  text-decoration: none;
}

/*styling for the appointment thumbnail containers*/

.apptThumbnail {
  width: 94%;
  margin-left: 3%;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #f0f0f5;
  border-radius: 1px;
}

/*styling for the hidden apptID containter*/
.apptId {
  display: none;
}

/*styling for the time/weather block in the thumbnail*/

.appTimeWeather {
  background-color: #55DBBA;
  color: white;
  width: 20%;
  display: inline-block;
  text-align: center;
  font-size: .8em;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
  /*border: solid 1px black;*/
}

/*styling for weather thumbnail icon*/

.weatherIcon {
  font-size: 1.5em;
}

/*Styling for the title/location block in the thumbnail*/

.apptTitleLoc {
  width: 74%;
  display: inline-block;
  font-size: .8em;
  padding-left: 30px;
  /*border: solid 1px black;*/
}

.apptTitle {
  color: black;
  font-size: 1.2em;
  font-weight: bolder;
  padding-bottom: 8px;
}

.apptLoc {
  font-size: .8em;
  font-style: italic;
  color: grey;
}

/*styling for line with date */

.dateLine {
  margin-top: 140px;
  position: relative;
  border: solid 1px grey;
  width: 94%;
  margin-left: 3%;
}

.dateLineDate {
  position: absolute;
  top: -35px;
  right: 29%;
  /*bottom: 0;
  left: 0;*/
  background: white;
  padding: 0 5px 0 5px;
}
