/*styling for Landing Page (index.html)*/

/*Styling for body*/

.indexBody {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

/*styling for header*/

.indexHeader {
  font-size: 4em;
  position: relative;
  text-align: center;
  padding-top: .8em;
  padding-right: .4em;
  padding-left: .4em;
  padding-bottom: .4em;
  border-bottom: solid 1px grey;
}

.indexTitle {
  font-size: 1.2em;
  color: red;
  font-weight: bolder;
  letter-spacing: 1px;
  display: inline-block;
}

.indexIconDiv {
  position: absolute;
  top: 60px;
  right: 20px;
  font-size: 1.2em;
}
